@import url("https://fonts.google.com/share?selection.family=Montserrat%7CRajdhani:wght@400;500;600;700");
body {
    font-family: Rajdhani, sans-serif;
}

#headg {
    background-image: url("/assets/Illustrations/Game/Batgame1.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 800px;
}

#headgo {
    border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}

.row {
    width: 86%;
}

.borcoli {
    border-top: none;
    border-left: 2px solid rgb(255, 255, 255, 0.2);
    border-right: 2px solid rgb(255, 255, 255, 0.2);
    border-bottom: none;
}

#div {
    padding-top: 15%;
    padding-left: 6.5%;
}


/*scroll*/

.scroi {
    width: 15%;
    margin-left: 92.6%;
    margin-top: -120px;
}


/*Raccord*/

#div2 {
    padding-top: 5%;
    padding-left: 6.5%;
}

.h11 {
    margin-left: 0%;
}

h1 {
    font-size: 36px;
}

h4 {
    font-size: 22px;
}

.flex-column {
    padding-left: 0;
}

.cloclo {
    padding-left: 32px;
}

.form-check-label {
    font-size: 18px;
}

#racc {
    position: absolute;
    height: 17vh;
    left: 7%;
}


/*#rcco {
    position: absolute;
}*/

#imge {
    position: relative;
    top: 3vh;
}

#three {
    margin-left: 0%;
}

button {
    background-color: rgba(250, 250, 250, 0.05);
    color: white;
}

#piedpg {
    height: 100%;
}

#ptcar {
    font-size: 0.7vw;
}

#scroa {
    padding: 0 27.5vw 10vw;
}

.scroa {
    padding: 0;
}